<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Sul America Asteroids WebApp</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <link rel="stylesheet" type="text/css" media="all" href="../../css/app.css" th:href="@{/css/app.css}"/>
</head>
<body>
    <div>
      <img src="../../images/logo-sulamerica.png" alt="Sul America logo" title="Sul America logo" 
           th:src="@{/images/logo-sulamerica.png}"/>
    </div>
    
    <div class="asteroidlist">
	  <h2>Não foi possivel consultar os meteoros hoje, tente novamente mais tarde e fique alerta!</h2>
    </div>
</body>
</html>